/* Barra de Navegación */
.navbar {
    padding: 0, 5rem;
    background-color: lightgrey;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-group-item {
    background-color: #f5f6f7;
}

/* Section Hero */
.hero {
    text-align: center;
}

.hero-principal {
    background-color: #f5f6f7;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 15px;
}

.hero-image-background {
    border-radius: 15px 15px 0 0;
}

.hero-image-user {
    position: relative;
    bottom: 55px;
    left: 20px;
    margin-bottom: -55px;
}

.hero h1 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 10px;
}

.hero h2 {
    font-size: 1.5rem;
    color: #415151;
    position: relative;
    left: 10px;
}

/* Section About Me */

.aboutme-principal {
    background-color: #f5f6f7;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}

.aboutme h1 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

.aboutme p {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-indent: 55px;
    max-width: 1600px;
}

/* projects */


.projects-principal {
    background-color: #f5f6f7;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 15px;
}

/* Education */

.education-principal {
    background-color: #f5f6f7;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 15px;
}

.pie {
    background-color: lightgrey;
}


/* Adaptable / Responsive */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

}   